---

- name: "Add cron job for lego renewal certificate"
  cron:
    name: "### Lego automatic certificate renewal {{ item.common_name }}"
    job: "lego \
          --email='{{ lets_encrypt_account_email }}' \
          --csr='{{ lets_encrypt_directory_path }}/requests/{{ item.common_name }}.csr' \
          --path='{{ lets_encrypt_directory_path }}' \
          --server='{{ lets_encrypt_server }}' \
          --filename='{{ item.common_name }}' \
          {% if item.challenge == 'dns' %}--dns='{{ item.provider }}'{% endif %} \
          {% if item.challenge == 'http' %}--http --http.webroot='{{ item.webroot }}'{% endif %} \
          renew \
          --days {{ lets_encrypt_renew_limit }}"
    minute: "{{ lets_encrypt_cron_minute | default('0') }}"
    hour: "{{ lets_encrypt_cron_hour | default('11') }}"
    weekday: "{{ lets_encrypt_cron_weekday | default(omit) }}"
  with_items: "{{ lets_encrypt_resources }}"
